*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family:'Dosis', sans-serif";
}

html{
    height: 100%;
}

button{
    cursor: pointer;
}

/* Estilo del header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    background-repeat: no-repeat;
    padding: 0 1.5625rem;
    padding-left: 0;
    height: 9.375rem;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
  }
  
  #logo {
    width: 16.25rem;
    height: 9.375rem;
    padding-left: 1.5625rem;
    padding-bottom: 2px;
    padding-top: 2px;
    float: left;
  }

  #logo1 {
    width: 16.25rem;
    height: 9.375rem;
    padding-left: 1.5625rem;
    padding-bottom: 2px;
    padding-top: 2px;
    float: left;
  }
  
  #reservas {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 0;
    font-size: 1rem;
    background-color: #b55690;
    color: white;
  }
  
  #reservas .fa {
    padding-left: 6px;
    padding-right: 7px;
  }
  
  body {
    background-color: #ffffff;
  }
  
  #icono {
    padding: 1rem;
    font-size: 1.3rem;
    padding-left: 0;
    cursor: pointer;
  }
  
  #hamburguesa {
    display: none;
  }
  
  nav:has(#hamburguesa:checked) .menu {
    transform: translateX(0);
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #b55691;
    top: 9.5rem;
    left: 0;
    transform: translateX(-135%);
    transition: transform 0.4s;
  }
  
  .menu li {
    padding: 15px;
    text-align: center;
  }
  
  .menu li:not(#ultimo) {
    border-bottom: 1px solid white;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.9375rem 1.25rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .menu li:hover {
    background-color: #d52d00;
  }
  
  .menu-iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.9375rem;
  }
  
  .menu-iconos li {
    margin: 0 1rem;
    display: flex;
    align-items: center;
  }
  
  .menu-iconos li i {
    color: black;
    font-size: 1.25rem;
  }
  
  .menu-iconos li a {
    margin: 10px;
    color: #d52d00;
  }
  
  .menu-iconos li a i {
    color: black;
    font-size: 1.5rem;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .search-form input[type="search"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    outline: none;
    height: 1.5625rem;
    font-size: 0.875rem;
    width: 100%;
  }
  
  .search-form input[type="search"]::placeholder {
    color: #999;
  }

/* Estilo del main */

main {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.contenedor-perfil {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding: 40px; 
    width: 90%; 
    max-width: 500px; 
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 6rem auto 9rem auto; 
}

.contenedor-avatar {
    text-align: center;
    margin-bottom: 20px;
}

img.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

a.logout {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: #b55690;
    text-decoration: none;
    text-align: center;
}

a.logout:hover {
    text-decoration: underline;
}

h1.contenedor-perfil {
    font-size: 28px; 
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

p.contenedor-perfil {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    color: #666;
}

.mensaje {
    margin-bottom: 15px;
    font-weight: bold;
    color: #b55690;
    text-align: center;
}

.mensaje-exito {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 3.7rem;
}

form {
    width: 100%;
    padding: 0 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px; 
}

form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.boton-rosa {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #b55690;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-rosa:hover {
    background-color: #953e73;
}

/* Modo noche */
    .noche{
      background-color: #0f0f0f !important; 
        color: white;
    }

    .noche2{
        background-color: rgba(225, 225, 225, 0.1) !important;
        color: white!important;
        box-shadow: 0 0 15px #505050  !important;
        border: none;
    }

      .nocheHeader {
        background-color: #0f0f0f !important;
        color: white; 
        border-bottom: 1px solid rgba(225, 225, 225, 0.1) !important;
        
    }

    .nocheHeader .menu{
        background-color: #0f0f0f !important;
    }

    .nocheHeader .menu li a {
        color: white;
    }

    .nocheHeader .menu li a:hover {
        color: #D52D00; 
    }

    .nocheIconos{
      color: white !important;
    }
    .nochelogout{
        color: white !important;
    }


/* Estilo del footer */

footer {
    background-color: #b55690;
    color: white;
    padding: 1.25rem;
    font-family: 'Dosis', sans-serif;
}

#izquierda{
    line-height: 0.2;
}

.footer-contenedor {
    text-align: center;
}

#izquierda, #centro, #derecha {
    padding: 1rem;
}

#izquierda p, #centro p, #derecha p {
    padding-bottom: 1rem;
}

#izquierda img{
    margin-bottom: 1rem;
}

footer h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.imagen {
    width: 12.5rem;
    height: 9.375rem;
    margin-bottom: 5px;
    margin-top: 8px;
}

#centro{
    display: none;
}

#derecha .circulo {
    width: 12.5rem;
    height: 12.5rem;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 10px; 
}

#derecha .horario {
    align-items: left;
    line-height: 0.3; 
}

#bajo {
    display: block;
    margin-top: 1.25rem;
    padding-top: 10px;
    padding-bottom: 0;
    width: 100%;
    border-top: 1px solid #ffffff;
    text-align: left;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#copyright {
    display: flex;
}

#clima {
    text-align: right;
}

.content i {
    color: white;
    padding-right: 7px;
}

@media (min-width: 768px) {

    .menu-iconos {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  
    .search-form {
      margin-left: 1rem;
    }
}

@media(min-width: 1142px){
    #reservas{  
        text-align: left;
        padding-left: 1.25rem;
        padding: 1rem;
        font-size: 1.115rem;
      }
      
    .menu {
        flex-direction: row; 
        position: static;
        transform: none;
        float: right;
        background-color: white;
    
    }
    
    .menu li {
        float: left;
    }

    .menu li a{
        color: black;
    }

    .menu li:not(#ultimo){
        border-bottom: none;
    }

    .menu li:hover {
        background-color: transparent; 
    }

    .menu li a:hover {
        color: #D52D00; 
    }

    #hamburguesa{
        display: none;
    }

    #icono{
        display: none;
    }
    /*Estilo main*/
main {
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.contenedor-perfil {
    display: flex;
    padding: 40px;
    max-width: 1000px;
}

.contenedor-avatar {
    margin-right: 40px;
}

.contenedor-info {
    flex: 1;
}

img.avatar {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

h1 {
    margin-bottom: 10px;
}

.mensaje {
    margin-bottom: 20px;
    font-weight: bold;
    color: #b55690;
}

form input, form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

form input[type="submit"] {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.historial{
    display: block;
    padding: 10px;
    border: none;
    transition: background-color 0.3s;
}


a.logout {
    display: inline-block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}

a.logout:hover {
    text-decoration: underline;
}
    /*Estilo del footer*/

    .footer-contenedor {
        display: flex;
        align-items: stretch;
        text-align: left;
    }

    #izquierda, #centro, #derecha {
        flex: 1; 
        padding: 10px;
    }


    #centro{
        display: unset;
    }
    #centro ul {
        padding: 10px;
        margin-top: 0.9375rem;
        line-height: 2;
    }
    
    #centro ul li {
        margin-bottom: 5px;
    }
    
    #centro ul li a {
        color: white;
        text-decoration: none;
    }
    
    #centro ul li a:hover {
        color: #D52D00;
    }

    #derecha {
        display: flex;
        flex: 1;
        padding: 10px;
        flex-direction: column; 
        align-items: center; 
    }
}
